[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "public"]
	path = public
	url = git@github.com:solareenlo/solareenlo.github.io.git
	branch = master
[submodule "themes/atom"]
	path = themes/atom
	url = git@github.com:aubm/hugo-code-editor-theme.git
[submodule "themes/book-ori"]
	path = themes/book-ori
	url = git@github.com:alex-shpak/hugo-book.git
[submodule "themes/book-fork"]
	path = themes/book-fork
	url = git@github.com:solareenlo/hugo-book.git
